@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Banco Invest</h1>
    <br />
    <br />
    <p>Saldo atual: R$ 0,00</p>
    <p>Conta criada em @DateTime.Today.ToShortDateString()</p>
</div>